.feed-comment {
    & + .feed-comment {
        margin-top: 15px;
    }
    &__inner {
        display: flex;
        column-gap: 12px;
    }
    &__figure {
        font-size: 0;
        a {
            display: inline-block;
            font-size: 0;
        }
    }
    &__text {
        a {
            display: inline-block;
            padding-right: 5px;
            font-size: 13px;
            font-weight: 600;
            color: rgba(38, 38, 38);
        }
        flex: 1;
    }
    &__row {
        display: inline;
        font-size: 13px;
    }
}
