.feed-modal {
    display: flex;
    justify-content: center;
    align-items: stretch;
    &__left {
        display: flex;
        width: calc((100vw - 128px - 500px) / 1.5);
        background-color: #fff;
        div {
            font-size: 0;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        min-width: 405px;
        width: 100%;
        padding-bottom: 15px;
        background-color: #fff;
    }
    &__body {
        flex: 1;
    }
    &__inner {
        overflow-y: auto;
        height: 100%;
        max-height: 600px;
        padding: 15px;
    }
    &__header {
        display: flex;
        padding: 15px;
    }
    &__user {
        flex: 1;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    &__more {
        font-size: 0;
        button {
            display: inline-block;
            width: 24px;
            height: 24px;
        }
        span {
            font-size: 0;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    :global(.slick-slider) {
        width: 100%;
    }
}
