.feed-footer {
    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
    &__comments {
        padding: 0 10px;
        button {
            display: block;
            font-size: 14px;
            line-height: 18px;
            color: rgba(115, 115, 115);
            cursor: pointer;
        }
    }
    &__likes {
        padding: 0 10px;
    }
}
