.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 335px;
    width: 100%;
    border-right: 1px solid rgba(219, 219, 219);
    &__inner {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
        padding: 8px 12px 20px;
    }
}
