.small-logo {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 25px 12px 16px;
    &--active {
        height: 70px;
        padding: 12px;
    }
    svg {
        color: inherit;
    }
}

@media screen and (max-width: 1625px) {
    .small-logo {
        height: 70px;
        padding: 12px;
        svg {
            color: inherit;
        }
    }
}

@media screen and (max-width: 765px) {
    .small-logo {
        height: auto;
        margin-bottom: 0;
    }
}
