.user {
    max-width: 975px;
    width: 100%;
    margin: 0 auto;
    &__inner {
        padding: 30px 20px 0;
    }
}

@media screen and (max-width: 765px) {
    .user {
        &__inner {
            padding: 15px 0 0;
        }
    }
}
